#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    font-weight: 100;
    font-size: 14px;
}
  
body {
    margin: 0;
}

h3 {
    display: inline-block;
    text-align: center;
}

.banner {
    background-color: lightgray;
    text-align: center;
    margin-bottom: 25px;
}

.logo {
    display: inline-block;
    margin-bottom: -8px;
    margin-right: 5px;
  }